.members-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 15px;
   
   
}
.members-container img{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    display: inline-block;

}

.member{
    background-color: darksalmon;
    padding: 25px;
    border-radius: 15px;
}
.member p{
   margin: 4px;
}
.member-info{
    text-align: left;
}


.donation-btn{
    border: none;
    padding: 10px 60px;
    background-color: darkblue;
    color: white;
    display: inline-block;
    text-align: center;
    margin: auto;
    cursor: pointer;
    border-radius: 20px;
    
}